//
//  Secrets.xcconfig
//  NYTimesUIKit
//
//  Created by Abhinav Jha on 12/07/2025.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project
/// Pushing secret key for easy access

NYT_API_KEY = R3n283aCv9Agh1siX7mdnzvk00ZfhXNw
